<div class="row-fluid">
    <div class="offset1 span12">
		<div id="myCarousel" class="carousel slide">
  			<ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    <li data-target="#myCarousel" data-slide-to="3"></li>
			    <li data-target="#myCarousel" data-slide-to="4"></li>
			    <li data-target="#myCarousel" data-slide-to="5"></li>
			    <li data-target="#myCarousel" data-slide-to="6"></li>
			    <li data-target="#myCarousel" data-slide-to="7"></li>
  			</ol>
		<div class="carousel-inner">
    <div class="active item"><%= image_tag('2.jpg') %></div>
    <div class="item"><%= image_tag('1.jpg') %></div> <!--como se agrega imagen-->
    <div class="item"><%= image_tag('3.jpg') %></div>
    <div class="item"><%= image_tag('4.jpg') %></div>
    <div class="item"><%= image_tag('5.jpg') %></div>
    <div class="item"><%= image_tag('6.jpg') %></div>
    <div class="item"><%= image_tag('7.jpg') %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



<div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                 <%= image_tag('4.jpg') %>
                  <div class="caption">
                    <h3>Audi S3</h3>
                    <p>El Audi A3 es un automóvil del segmento C producido por el fabricante alemán Audi desde 1996, abarcando 3 generaciones hasta el momento. El A3 está construido sobre la plataforma A que comparte con varios modelos del Grupo Volkswagen.</p>
                   
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                     <%= image_tag('1.jpg') %>
                  <div class="caption">
                    <h3>VW Golf GTI</h3>
                    <p>El inicio de la comercialización del Golf GTI en los Estados Unidos fue complicado, debido a problemas de calidad existentes en la planta de Volkswagen de México, exportándose un cierto número de unidades hacia los Estados Unidos.</p>
                   
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <%= image_tag('2.jpg') %>
                  <div class="caption">
                    <h3>Chevrolet Sonic</h3>
                    <p>El Chevrolet Nuevo Aveo / Sonic esta disponible en dos carrocerías de 4 y 5 puertas, Sedán y Hatchback; y cinco configuraciones de motor -todas construidas sobre una plataforma exclusivamente dedicada, lo que la diferenciarán de su predecesor.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
  </div>
