<h3>Marcas</h3>

<table class="table table-hover table-striped">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr class="<%= cycle :success %> ">
    <td><%= link_to brand.name, brand %> (<%= brand.total_vehicles %>)</td>
    <td><button type="button" class: "btn btn-warning"> <%= link_to 'Editar', edit_brand_path(brand) %></button></td>
    <td><button type="button" class: 'btn btn-danger'> <%= link_to 'Eliminar', brand, method: :delete, data: { confirm: 'Esta seguro?' } %> </button></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to icon('plus')+'Nueva Marca', new_brand_path, class: 'btn btn-success' %>








